name: Test tap-slack

on:
  push:
    branches: [ main ]
    paths:
    - .github/workflows/test.yml
    - .github/workflows/constraints.txt
    - tap_slack/**
    - pyproject.toml
    - uv.lock
  pull_request:
    branches: [ main ]
    paths:
    - .github/workflows/test.yml
    - .github/workflows/constraints.txt
    - tap_slack/**
    - pyproject.toml
    - uv.lock
  workflow_dispatch:

env:
  FORCE_COLOR: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3.x
    - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
      with:
        version: ">=0.5"
    - run: uvx --with tox-uv tox -e lint

  pytest:
    name: Python ${{ matrix.python-version }} - pytest
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version:
        - "3.14"
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
      with:
        version: ">=0.5"
    - name: Test with pytest
      env:
        TAP_SLACK_API_KEY: ${{ secrets.TAP_SLACK_API_KEY }}
        TAP_SLACK_AUTO_JOIN_CHANNELS: 'false'
        TAP_SLACK_SELECTED_CHANNELS: '[]'
        TAP_SLACK_CHANNEL_TYPES: '["public_channel"]'
        TAP_SLACK_THREAD_LOOKBACK_DAYS: '7'
      run: uvx --with tox-uv tox -e ${{ matrix.python-version }}
